version: '0.9.0+{build}'
image: Visual Studio 2017
skip_branch_with_pr: true
skip_commits:
  files:
  - '**/*.md'
build:
  verbosity: minimal
services:
  - mongodb
install:
  - choco install opencover codecov


build_script:
  - dotnet build -c Debug
  - dotnet build -c Release
test_script:
  - OpenCover.Console.exe -register:user -target:"C:\Program Files\dotnet\dotnet.exe" -targetargs:"test MongoFramework.Tests/MongoFramework.Tests.csproj" -filter:"+[MongoFramework]* -[MongoFramework.Tests]*" -output:".\coverage.xml" -oldstyle
  - codecov -f coverage.xml


artifacts:
  - path: 'MongoFramework\bin\Debug\*.nupkg'
    name: NuGet Package (Debug)

  - path: 'MongoFramework\bin\Release\*.nupkg'
    name: NuGet Package (Release)

  - path: coverage.xml
    name: Coverage Report